.archive-list_time-line {
    //  @include child-margin(80px);

    ul.item-list {
        border-top: 4px solid #98ACC0;
        display: block;
        padding: 160px 0px;
        box-sizing: border-box;
    }
}
