.archive_time-line {
    @include child-margin(60px);
    @include rwd-screen(pad,phone) {
         @include child-margin(30px,20px);
    };
    .article-field.avatar{
      img{
        border-radius: 50%;
        @include rwd-coding(max-width,auto,120px,80px,70px);
      }
    }
}

.list-margin_column,.ajax-load-more-wrap {
    > ul {
        padding: 0;

        > li {
            display: block;
        }
    }

    > * {
        > *:not(:last-child) {
            margin-bottom: 160px;
        }
    }
}
