.archive_time-line {
    @include child-margin(60px);
    @include rwd-screen(pad,phone) {
         @include child-margin(30px,20px);
    };
}

.list-margin_column {
    > ul {
        padding: 0;

        > li {
            display: block;
        }
    }

    > * {
        > *:not(:last-child) {
            margin-bottom: 160px;
        }
    }
}
