#page {
    position: relative;
    overflow: hidden;

    > .first-sidbar {
        display: flex;
        align-items: stretch;

        //first-sidbar
        > * {
            display: flex;
            align-content: stretch;
            max-width: 100%;
        }

        > .col-1 {}
        > .col-2 {
            flex: 1;
        }
    }
}
