@import "frame/_import";
@import "mixin/_import";
@import "post-mode/_import";
@import "font-style/font-style";
@import "base/_import";
@import "components/_import";
@import "regions/_import";
@import "layouts/_import";

.search__form {
    display: block;
    width: 100%;

    .searchform {
        > div {
            display: flex;

            .screen-reader-text {
                display: none;
            }
        }
    }
}
@mixin animate_right {
    transition: 0.6s;
    transform: translateX(-200px);
    opacity: 0;
}

.animate_right {
    transform: translateX(0px)!important;
    opacity: 1!important;
}
@mixin animate_left {
    transition: 0.6s;
    transform: translateX(200px);
    opacity: 0;
}

.animate_left {
    transform: translateX(0px)!important;
    opacity: 1!important;
}
@mixin animate_fadeIn {
    transition: 0.6s;
    opacity: 0;
}

.animate_fadeIn {
    opacity: 1!important;
}

.article-wrapper.avatar {
    @include rwd-screen(pc,pad) {
         @include animate_right;
    }
}

.article-wrapper.body {
    @include rwd-screen(pc,pad) {
         @include animate_left;
    }
}

.article-wrapper.postdate {
    @include rwd-screen(pc,pad) {
         @include animate_fadeIn;
    }
}
