@import "frame/_import";
@import "mixin/_import";
@import "post-mode/_import";
@import "font-style/font-style";
@import "base/_import";
@import "components/_import";
@import "regions/_import";
@import "layouts/_import";

.search__form {
    display: block;
    width: 100%;

    .searchform {
        > div {
            display: flex;

            .screen-reader-text {
                display: none;
            }
        }
    }
}

// .article-wrapper.postdate,.article-wrapper.avatar,.article-wrapper.body{
//   transition: 0.6s;
//   opacity: 0;
// }
//
// .test{
//   opacity: 1!important;
}
