@font-face {
    font-family: 'test';
    src: url('PingFang-Bold.ttf')format('truetype'),
    url('PingFang-Bold.woff')format('woff'),
    url('PingFang-Bold.svg')format('svg');
}

@font-face {
    font-family: 'shit';
    src: url('shit.ttf')format('truetype');

}
